#about .flex {
  flex-wrap: wrap;
}

#about .col {
  width: 100%;
  color: var(--third-text);
}

.debug #about .col {
  height: 100px;
}

/* 
===============
≥ 768px
===============
*/

@media screen and (min-width: 768px) {
  
  #about .col {
    width: 50%;
  }
}