#about .flex {
  flex-wrap: wrap;
}

#about .col {
  width: 100%;
  color: var(--third-text);
}

/* 
===============
≥ 768px
===============
*/

@media screen and (min-width: 768px) {
  
  #about .col {
    width: calc(50% - 25px);
  }
}