#benefits {
  background-color: var(--first-color);
  font-size: 1.0625rem;
}

#benefits h2 {
  color: var(--first-text);
  text-align: center;
  font-size: 2.1875rem;
}

#benefits .flex {
  flex-wrap: wrap;
}

#benefits .col {
  width: 100%;
  background-color: var(--first-text);
  border-radius: 25px;
  padding: 1.5625rem;
  color: var(--second-text);
}

#benefits .number,
#benefits .benefit {
  color: var(--first-color);
}

#benefits .number {
  font-size: 3.4375rem;
  font-weight: 600;
}

#benefits .benefit {
  font-size: 1.5625rem;
  font-weight: 600;
}

#benefits button {
  background-color: var(--first-color);
}

/* 
===============
≥ 768px
===============
*/

@media screen and (min-width: 768px) {
  
  #benefits .col {
    width: calc(50% - 25px);
  }

  #benefits h2 {
    font-size: 2.8125rem;
  }

  #benefits .number {
    font-size: 4.375rem;
  }
}

/* 
===============
≥ 992px
===============
*/

@media screen and (min-width: 992px) {
  
  #benefits .col {
    width: calc(100% / 3 - 25px);
  }
}