/* 
===============
Container
===============
*/

.container {
  padding: 0 1.875rem;
}

/* 
===============
Common
===============
*/

section .flex {
  gap: 1.5625rem;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.list-inline {
  display: flex;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  color: var(--first-text);
  text-decoration: none;
}

/* 
===============
Buttons
===============
*/

button {
  font-family: inherit;
  font-size: inherit;
  padding: .9375rem 2.5rem;
  border-radius: 1.5625rem;
  border: none;
  color: var(--first-text);
}

/* 
===============
≥ 992px
===============
*/

@media screen and (min-width: 992px) {
  
  .container {
    max-width: 1040px;
    margin: auto;
  }
}