#features {
  color: var(--second-text);
  margin-top: 75px;
}

#features .flex {
  flex-wrap: wrap;
  gap: 1.5625rem;
}

#features .col-special,
#features .col {
  width: 100%;
  border-radius: 25px;
  background-color: var(--second-color-light);
}

#features .col {
  text-align: center;
}

#features .col > *:not(img) {
  margin: 0 1.5625rem 1.875rem;
}

#features .col > :first-child:not(img) {
  margin-top: 1.875rem;
}

#features i,
#features h2 {
  color: var(--second-color);
}

#features i {
  font-size: 5rem;
}

#features p {
  font-size: 1.25rem;
}

/* 
===============
≥ 768px
===============
*/

@media screen and (min-width: 768px) {
  
  #features .col {
    width: calc(100% / 3 - 1.5625rem);
  }

  #features .col-special {
    width: calc((100% / 3) * 2 - 1.5625rem / 2);
  }
}

/* 
===============
≥ 992px
===============
*/

@media screen and (min-width: 992px) {
  
  #features .col-content,
  #features .col-image {
    width: calc(100% / 2 - 1.5625rem);
  }
}