header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 75px;
  background-color: var(--second-color);
  color: var(--first-text);
}

header .flex {
  height: 100%;
  align-items: center;
}

header nav {
  display: none;
}

header li {
  margin-left: 1.875rem;
  padding: .625rem 0;
}

header li:last-child {
  background-color: #ffffff;
  border-radius: 25px;
  padding: .625rem .9375rem;
}

header li:last-child a {
  color: var(--third-text);
}

/*
===============
≥ 992px
===============
*/

@media screen and (min-width: 992px) {

  header .burger {
    display: none;
  }

  header nav {
    display: block;
  }
}