#partners {
  text-align: center;
  font-size: 1.25rem;
}

#partners * {
  margin-top: 1.5625rem;
}

#partners .partners {
  text-transform: uppercase;
}

#partners h2 {
  font-size: 2.1875rem;
  color: var(--first-color);
}

#partners .flex {
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--first-text);
}

#partners .col-image,
#partners .col-info {
  width: 100%;
}

#partners .col-image {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

#partners .col-image img {
  width: auto;
  height: 100%;
  margin-left: -45px;
  margin-top: 0;
}

#partners .col-info {
  line-height: 1.875rem;
}

#partners .col-info p {
  padding: 0 .625rem;
}

#partners .col-info p:before {
  content: "\201C";
  margin-right: .3125rem;
  font-size: 2.5rem;
  position: relative;
  top: 15px;
}

#partners .col-info p:after {
  content: "\201D";
  margin-left: .3125rem;
  font-size: 2.5rem;
  position: relative;
  top: 15px;
}

#partners .col-info .name {
  text-transform: uppercase;
}

/* 
===============
≥ 768px
===============
*/

@media screen and (min-width: 768px) {
  
  #partners .col-image {
    width: calc(30% - 1.5625rem);
  }

  #partners .col-info {
    width: calc(70% - 1.5625rem);
  }
}