#partners .flex {
  flex-wrap: wrap;
  background-color: var(--first-color);
  color: var(--first-text);
}

#partners .col {
  width: 100%;
}

/* 
===============
≥ 768px
===============
*/

@media screen and (min-width: 768px) {
  
  #partners .col-image {
    width: calc(30% - 1.5625rem);
  }

  #partners .col-info {
    width: calc(70% - 1.5625rem);
  }
}