#planning {
  background-color: var(--first-color);
  color: var(--first-text);
}

#planning .flex {
  flex-wrap: wrap;
  align-items: flex-end;
}

#planning .col {
  width: 100%;
}

/* 
===============
≥ 992px
===============
*/

@media screen and (min-width: 992px) {
  
  #planning .col {
    width: calc(100% / 2 - 25px);
  }
}